# CODEOWNERS - Định nghĩa ai review code cho phần nào
# Docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Tất cả PR đều được assign cho 4 leads review
* @iknizzz1807 @ThanhThang5722 @nphng15 @UmiKuni
