
.team-slide {
  opacity: 0;
  transform: translateY(120px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.team-slide.active {
  opacity: 1;
  transform: translateY(0);
}


.team-wrapper:hover .team-slide {
  opacity: 1;
  transform: translateY(0);
}

.team-wrapper:not(:hover) .team-slide:not(.active) {
  opacity: 0;
  transform: translateY(120px);
}


.team-title {
  color: #b30000;
  font-weight: 700;
}

.team-info {
  color: #000;
}


.team-pin {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  transition: transform 0.9s ease, opacity 0.9s ease;
}

.team-pin img {
  width: 52px;
  height: 52px;
}


.team-slide.active ~ .team-pin,
.team-wrapper:hover .team-pin {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.team-wrapper:not(:hover) .team-slide:not(.active) ~ .team-pin {
  opacity: 0;
  transform: translate(-50%, calc(-50% + 120px));
}
