.team-slide {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.45s ease, transform 0.45s ease;
}

.team-slide.active {
  opacity: 1;
  transform: translateY(0);
}


.team-wrapper:hover .team-slide {
  opacity: 1;
  transform: translateY(0);
}

.team-wrapper:not(:hover) .team-slide:not(.active) {
  opacity: 0;
  transform: translateY(80px);
}


.team-title {
  color: #000;
  font-weight: 500;
}

.team-info {
  color: #000;
}

.banhchung-pin {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  z-index: 20;
  transition: transform 0.45s ease;
}


.team-slide.active ~ .banhchung-pin,
.team-wrapper:hover .banhchung-pin {
  transform: translate(-50%, -50%) scale(1.05);
}
